<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Drug Prescription</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static 'prescription/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts -->
    <link href="{% static 'prescription/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- DataTables-->
    <link href=" {% static 'prescription/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{% static 'prescription/css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">
                Home
            </div>
            <div class="card-body">
                <h2>Prescribe medicine faster to patients and reduce drug side effects</h2>
                <h4>Create your account or log in below</h4>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-secondary" href="{% url 'login' %}">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'prescription/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'prescription/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'prescription/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'prescription/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'prescription/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'prescription/js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'prescription/js/sb-admin-datatables.min.js' %}"></script>
</body>

</html>
