{% extends "prescription/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Prescribe Medicine Card -->
    <div class="card mx-auto">
        <div class="card-header">
            Prescribe Patient
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{patient_detail_form|crispy}}
                <button type="submit" class="btn btn-primary btn-block mt-3">Predict Medicine</button>
            </form>
        </div>
    </div>
{% endblock content %}
