<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Drug Prescription</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static 'prescription/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts -->
    <link href="{% static 'prescription/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- DataTables-->
    <link href=" {% static 'prescription/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{% static 'prescription/css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="" id="">
    <h3>Table:</h3>
    <button class="btn btn-primary pull-right" onclick="window.print()"> Print Report </button>

    <table class="table table-bordered">
        <tr>
            <th>Gender</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>Male</td>
            <td>{{male_patients}}</td>
        </tr>
        <tr>
            <td>Female</td>
            <td>{{female_patients}}</td>
        </tr>
    </table>

    <br>
    <canvas id="gender_pie_chart" width="50" height="20"></canvas>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'prescription/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'prescription/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'prescription/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'prescription/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'prescription/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'prescription/js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'prescription/js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'prescription/vendor/chart.js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'prescription/vendor/chart.js/Chart.min.js' %}"></script>
    <script>
        //fetch data and initialize arrays
        var gender_url_data = "{% url 'gender-data' %}"
        var gender_count = [];

        $(document).ready(function(){
            //Gender Pie Chart
            $.ajax({
                method: "GET",
                url: gender_url_data,
                success: function(data){
                    gender_count = data.gender_count
                    genderPieChart()
                },
                error: function(error_data){
                    console.log("Error:")
                    console.log(error_data)
                }
            })

            function genderPieChart(){
                new Chart(document.getElementById("gender_pie_chart"), {
                    type: 'pie',
                    data: {
                        labels: ["Female", "Male"],
                        datasets: [{
                            label: "Gender",
                            backgroundColor: ["#3e95cd", "#8e5ea2"],
                            data: gender_count
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Patient Gender'
                        }
                    }
                });
            }
        });


    </script>
</body>

</html>
